* {
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color:navy;
  color: white;
  height: 60px;
}

.title{
    margin:0 10px;
    font-size: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color:salmon;
}

nav a:active {
  color: #61dafb;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 2;
  padding: 2;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

.home-page,
.routines-page,
.activities-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;
    font-size: 20px;
}

.home-page h2,
.routines-page h2,
.activities-page h2 {
    margin: 0;
    padding: 0;
}

.featured {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.featured ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.public-routines-list,
.public-activities-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* .routine,
.activity {
  
} */